html{
  font-size: 14pt;
}
header{
  background-color:#000000 ;
   color: #FFFFFF
}
footer{
  background-color:#000000 ;
  color: #FFFFFF;
  margin: 0;
}

#black_colour{
  color:black;
}
.job_offer{
  text-align: center;
  margin: 0;
  padding: 0;
}
.articles{
  margin-left: 500px;
}
